* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: #0f8afd;
}

main {
    max-width: 1280px;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #f1f1f1;
}

h1, h2, h3 {
    color: #ffffff;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.methods {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.methods img {
    width: 600px;
}

.methods-main {
    display: flex;
    gap: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #0f8afd;
}

.methods-about p {
    display: block;
    padding: 20px;
    background-color: #0f8afd;
    border-radius: 8px;
}

.methods-main a {
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
}

.title-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-main h2 {
    font-size: 30px;
    color: #000;
    padding-top: 20px;

}